<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>


/*.display{
display:flex;
flex-direction: row || column;
flex-flow: row || column;
display:flex;
flex-grow: 0; /* default 0 */
/*flex-basis: auto; /* default auto 
padding: 10px 2% 20px;
postion: absolute;*/
/*  top 10px padding          */
/*  left and right 2% padding */
/*  bottom 20px padding       */

}

        html, body {
        background:#000000;
        -webkit-background-size:cover;
        -mox-background-size: cover;
        -o-background-size:cover;
        background-size:cover;
        width: 345px;

        font-family: 'Open Sans', Open Sans, sans-serif;;
        color: #000000;
        -webkit-font-smoothing: antialiased;
         background: #000000;
         /* position of background behind input text*/
        }

.background
  {

  backgroundwidth: {width:100%};
  backgroundwidth: {width:100%};
  backgroundheight: {height:100%};
  }

   #input {
            position: absolute;
            width: 200px;
            height: 250px;
            top: 50%;
            left: 50px;
            margin-top: -140px;
            margin-left: -170px;
            background: #fff;
            padding-left:10px;
            /*border-radius: 3px;*/
            border: 1px solid #ccc;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

            /* controls the background behind the input box */
        }

        #container {
            position: fixed;
            width: 300px;
            height: 119px;
            top: 50%;
            left: 50%;
            margin-top: -140px;
            margin-left: -170px;
            background: #fff;
            border-radius: 0px;
            
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            font-family: 'Open Sans', Open Sans, sans-serif;;
            font-size: 10.5;
            /* container for name, and input and submit box */
        }

    form {
            margin-left: 10px;
            margin-top: 20px;
            /* controls the form information position*/
        }


         p a {
            font-size: 11px;
            color: #ccc;
            float: right;
            margin-top: -13px;
            margin-right: 20px;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            transition: all .4s ease;
        }
         p a:hover {
            color: #555;
        }

        username {
            font-family:"Open Sans", Open Sans, sans-serif; 
            font-size: 10px;
            outline: .5px;
            margin-left:10px;
            width: 250px;
            /* affects the submit key button*/
        }

        text[type=text],
         input[type=time]{
            color: #777;
            padding-left: 10px;
            margin: 10px;
            margin-top: 12px;
            margin-left: 18px;
            width: 290px;
            height: 30px;
            border: 1px solid #c7d0d2;
            border-radius: 2px;
               /* affects size of input box
            // gives it a different look*/
            }

        input[type=text]:hover,
        input[type=time]:hover {
            border: 1px solid #b6bfc0;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
        }
        input[type=text]:focus,
        input[type=time]:focus {
            border: 1px solid #a8c9e4;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
        }   

         #lower {
            background: #FBFCFE;
            width: 0%;
            height: 20px;
            margin-top: 20px;
            box-shadow: inset 0 1px 1px #fff;
            border-top: 1px solid #ccc;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            /* input button*/
        }

         input[type=button] {
            float: right;
            margin-right: -130px;
            margin-top: -15px;
            width: 50px;
            height: 20px;
            font-size: 12px;
            font-weight: bold;
            color: #ccc;
            background-color: #acd6ef; /*IE fallback// add closure here after taking away
                                                    // bottom *sign/*/
            background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFB), to(#FEFEFB));
            background-image: -moz-linear-gradient(top left 90deg, #FEFEFB 0%, #FEFEFB 100%);
            background-image: linear-gradient(top left 90deg, #FEFEFB 0%, #FEFEFB 100%);
            border-radius: 3px;
            border: .5px solid #66add6;
        }

        input[type=button]:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFB), to(#FEFEFB));
            background-image: -moz-linear-gradient(top left 90deg, #FEFEFB 0%, #FEFEFB 100%);
            background-image: linear-gradient(top left 90deg, #FEFEFB 0%, #FEFEFB 100%);
             box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
            cursor: pointer;
        }

          input[type=button]:active {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFB), to(#FEFEFB));
            background-image: -moz-linear-gradient(top left 90deg, #FEFEFB 0%, #FEFEFB 100%);
            background-image: linear-gradient(top left 90deg, #FEFEFB 0%, #FEFEFB 100%);

        }

.identityDiv {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: #262626;
}
.identityDiv.is-active {
    visibility:visible;
}
